
body {
text-align: center;
align-items: center ;
}
h1 {
font-size: 2em;
margin-bottom: 1em;
}

#btn {
padding: 0.5em 1em;
background-color: #007bff;
color: #fff;
border: none;
border-radius: 4px;
margin-top: 1em;
cursor: pointer;
}

#btn:hover {
background-color: #0069d9;
}
nav {
background-color: #333;
overflow: hidden;
position: fixed;
top: 0;
width: 100%;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav li {
display: inline-block;
margin-right: 20px;
}

nav li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

nav li a:hover {
background-color: #111;
}
h1 {
font-size: 2em;
margin-top: 70px; /* Adiciona uma margem superior para que o h1 não fique escondido atrás do nav */
margin-bottom: 1em;
}